body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nav {
    width: 100%;
    height: 120px;
    background-color: rgb(8, 11, 91);
    color: #f2f2f2;
    padding: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: block;
    justify-content: space-between;
    align-items: center;
}

.nav h1 {
    margin: 0;
    font-size: 34px;
    text-align: center;
}

.nav img {
    width: 100px; /* Adjust this value as needed */
    height: auto;
    margin-top: -20px; /* Adjust this value as needed */
}

.menu {
    background-color: rgb(8, 6, 132);
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
}

.menu a {
    color: white;
    float: left;
    display: block;
    font-size: 24px;
    text-align: left;
    padding: 10px 17px;
    text-decoration: none;
    flex: 1;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 10px;
    border-radius: 6px;
}

.career, .business {
    border-radius: 6px;
    background-color: #8e88f3;
    color: white;
}

.menu a:hover {
    background-color: #ddd;
    color: black;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.drop-con {
    display: none;
    position: absolute;
    background: rgb(8, 11, 91);
    padding: 5px;
    color: white;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.drop-con a {
    color: rgb(235, 235, 235);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.drop-con a:hover {
    background-color: #ddd;
    color: black;
}

.dropdown:hover .drop-con {
    display: block;
}

.menu {
    clear: both;
}

.content {
    width: 97%;
    padding: 20px;
    text-align: left;
}

.quote {
    max-width: 75%;
    height: auto;
    display: block;
    margin: 20px auto;
}

.con {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.search-container {
    text-align: right;
    margin-top: 0px;
}

.search-container input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: none;
    width: 50%;
    max-width: 250px;
    border-radius: 20px;
    border-width: 6px;
    border-style: groove;
    border-color: blueviolet;
}

.search-container button {
    padding: 10px;
    font-size: 17px;
    background-color: #9fe7fb;
    color: rgb(8, 11, 91);
    cursor: pointer;
    border-radius: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    margin-left: 10px;
}

.search-container button:hover {
    background-color: rgb(8, 11, 91);
    color: white;
    border-radius: 20px;
}

.course {
    width: 100%;
    max-width: 30%;
    background-color: #f9f9f9;
    margin: 10px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 2px 5px rgb(8, 11, 91);
    font-weight: bold;
}

.course img {
    width: 100%;
    height: auto;
}

.container {
    max-width: 600px;
    max-height: 250px;
    background-color: rgb(162, 239, 136);
    color: black;
    margin: 300px auto;
    border: none;
    border-radius: 6px;
    text-align: center;
    padding: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;
}

input[type=email], input[type=password] {
    width: 30%;
    padding: 13px;
    display: inline-block;
    margin: 25px auto;
    border-radius: 5px;
    border-color: bisque;
}

.btn {
    width: 100px;
    height: 50px;
    background-color: rgb(165, 234, 62);
    border-radius: 8px;
    border: none;
    margin: 90px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 17px;
}

.container button:hover {
    background-color: rgb(8, 11, 91);
    color: white;
    opacity: 0.8;
    border-radius: 6px;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(-200px);
    }
    50% {
        transform: translateY(50px);
    }
    75% {
        transform: translateY(150px);
    }
    100% {
        transform: translateY(300px);
    }
}

.ball {
    animation: float 3.5s ease-in-out infinite;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: radial-gradient(
        circle at 75% 30%,
        white 5px,
        #0800ff 15%,
        #0d00ff 40%,
        #352257 80%, 
        #0d00ff 100%
    );
    box-shadow: 
        inset 0 0 20px rgba(123, 72, 135, 0.5), 
        inset 88px 8px 60px rgba(216, 158, 223, 0.5), 
        inset -2px 0 50px 148px rgba(68, 47, 175, 0.5),
        0 0 90px rgba(255, 255, 255, 0.5);
}

@media (max-width: 768px) {
    .menu {
        flex-direction: column;
    }

    .course {
        width: 100%;
        max-width: 100%;
    }

    .search-container input[type=text] {
        width: 80%;
    }
}

@media (max-width: 480px) {
    .nav h1 {
        font-size: 18px;
    }

    .course p {
        font-size: 16px;
    }

    .search-container input[type=text] {
        width: 70%;
    }

    .search-container button {
        font-size: 14px;
    }
}
